Sistema/**
lightning_logs/**
src/__pycache__/**
src/Checkpoints/**
src/lightning_logs/**
src/Pesos/**
src/Datasets/**
sendgrid.env
src/Models/Transformers/lightning_logs
src/Models/YoloV5/*
src/Evaluaciones
!src/Models/YoloV5/YOLOV5.py
