{% extends 'baseAdmin.html' %}
{% block Titulo %}Entrenamiento{% endblock %}
{% block Cuerpo %}
<h1 id="Cab">Evaluador Administrador</h1>
<form action="/evaluarA" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <br>
<div class="UnaTabla">
    <table id="Tabla">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Formato</td>
                <td># Imagenes</td>
                <td>Usuario</td>
                <td>Tipo Basura</td>
                <td>Seleccionar</td>
            </tr>
        </thead>
        <tbody>
            {% for databasura in databasuras %}
            <tr>
                <td >{{ databasura.0 }}</td>
                <td >{{ databasura.1 }}</td>
                <td >{{ databasura.2 }}</td>
                <td >{{ databasura.3 }}</td>
                <td >{{ databasura.4 }}</td>
                <td >                        
                    <div class="radio-buttons">
                        <label class="radio-button">
                            <input type="radio" name="dataset" value="{{ databasura.5 }}">
                            <div class="radio-circle"></div>
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
<div class="UnaTabla">
    <table id="Tabla">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Arquitectura</td>
                <td>% Error</td>
                <td>% Precisión</td>
                <td>Tiempo</td>
                <td>Usuario</td>
                <td>Seleccionar</td>
            </tr>
        </thead>
        <tbody>
            {% for peso in pesos %}
            <tr>
                <td >{{ peso.0 }}</td>
                <td >{{ peso.1 }}</td>
                <td >{{ peso.2 }}</td>
                <td >{{ peso.3 }}</td>
                <td >{{ peso.4 }}</td>
                <td >{{ peso.6 }}</td>
                <td >                        
                    <label class="container-chbx">
                        <input type="checkbox" name="Peso" value="{{ peso.5 }}">
                        <div class="checkmark"></div>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<label for="nombre_evaluacion">Nombre de la Evaluación:</label>
<input type="text" id="nombre_evaluacion" name="nombre_evaluacion" required>
<br>
<div class="contenedor-botones2">
    <button class="BotonAceptar" type="submit">
        <div class="IAceptar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z"/>
            </svg>
        </div>
        <span>Evaluar</span>
    </button>
</div>
</form>
<footer id="Pie">
Estadia - Aguilar Vargas Antonio Emmanuel - AVAO191844
</footer>
{% endblock %}
