{% extends 'baseAdmin.html' %}
{% block Titulo %}Experimentador{% endblock %}
{% block Cuerpo %}
<h1 id="Cab">Experimentador Administrador</h1>
<form action="/agregarBasura" method="POST">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<br>
<div class="UnaTabla">
    <table id="Tabla">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Formato</td>
                <td>Imagenes</td>
                <td>Usuario</td>
                <td>Tipo de basura</td>
                <td id="BTabla">Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% for basura in basuras %}
            <tr>
                <td >{{ basura.1 }}</td>
                <td >{{ basura.2 }}</td>
                <td >{{ basura.3 }}</td>
                <td >{{ basura.4 }}</td>
                <td >
                    <a class="BotonEditar" type="submit" href="/editarBasuraA/{{ basura.1 }}" class="BotonEditar">
                        <div class="IEditar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </div>
                    </a>
                    <a class="BotonEliminar" type="submit" href="/eliminarBasuraA/{{ basura.1 }}" class="BotonEliminar">
                        <div class="IEliminar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="Tres-Columnas">
    <div class="Primera">
        <b>Tecnología a Utilizar:</b>
        <br>
        <input type="radio" id="YOLO" name="Tecnologia" value="YOLO">
        <label for="opcion1">YOLO</label><br>
      
        <input type="radio" id="TRANS" name="Tecnologia" value="TRANS">
        <label for="opcion2">Transformers</label><br>
    </div>
    <div class="Segunda">
        <b>Épocas:</b><br>
        <input type="text" name="Epocas" id="Epocas">
    </div>
    <div class="Tercera">
        <b>Batch Size:</b><br>
        <input type="text" name="Batch" id="Batch">
    </div>
</div>
<!--CONTENEDOR DE BOTONES-->
<div class="contenedor-botones2">
    <button class="BotonAceptar" type="submit">
        <div class="IAceptar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z"/>
              </svg>
        </div>
        <span>Experimentar</span>
    </button>
    <button class="BotonCancelar" type="button" onclick="location.href='{{ url_for('CrudDatasetA') }}'">
        <div class="ICancelar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>
        <span>Agregar</span>
    </button>
</div>
</form>
<footer id="Pie">
Estadia - Aguilar Vargas Antonio Emmanuel - AVAO191844
</footer>
{% endblock %}
