{% extends 'baseAdmin.html' %}
{% block Titulo %}Resultados de Evaluación{% endblock %}
{% block Cuerpo %}
<h1 id="Cab">Resultados de Evaluación</h1>
<form action="GuardarEvaluacion" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="UnaTabla">
        <table id="Tabla">
            <thead>
                <tr>
                    <th>Resultados YOLO</th>
                    <th>Veredicto Usuario YOLO</th>
                    <th>Resultados DETR</th>
                    <th>Veredicto Usuario DETR</th>
                </tr>
            </thead>
            <tbody>
                {% for yolo_img, detr_img in zip(yolo_images, detr_images) %}
                <tr>
                    <td><img src="{{ yolo_img }}" alt="Resultado YOLO" style="width: 150px;"></td>
                    <td>
                            <input type="radio" name="yolo_veredicto_{{ loop.index }}" value="1"> Hay basura y sí se detectó<br>
                            <input type="radio" name="yolo_veredicto_{{ loop.index }}" value="2"> Hay basura y no se detectó<br>
                            <input type="radio" name="yolo_veredicto_{{ loop.index }}" value="3"> No hay basura y se detectó<br>
                            <input type="radio" name="yolo_veredicto_{{ loop.index }}" value="4"> No hay basura y no se detectó
                    </td>
                    <td><img src="{{ detr_img }}" alt="Resultado DETR" style="width: 150px;"></td>
                    <td>
                            <input type="radio" name="detr_veredicto_{{ loop.index }}" value="1"> Hay basura y sí se detectó<br>
                            <input type="radio" name="detr_veredicto_{{ loop.index }}" value="2"> Hay basura y no se detectó<br>
                            <input type="radio" name="detr_veredicto_{{ loop.index }}" value="3"> No hay basura y se detectó<br>
                            <input type="radio" name="detr_veredicto_{{ loop.index }}" value="4"> No hay basura y no se detectó
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="submit">Guardar evaluación</button>
</form>

<footer id="Pie">
    Estadia - Aguilar Vargas Antonio Emmanuel - AVAO191844
</footer>
{% endblock %}
