{% extends './base.html' %}

{% block Titulo %}Inicio de Sesión{% endblock %}

{% block CSSPersonalizado %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
{% endblock %}

{% block CuerpoPersonalizado %}
<main class="form-signin w-100 m-auto">
  <form>
    <img class="mb-4" src="{{ url_for('static', filename='img/UPE_vertical.png') }}" alt="" width="190">
    <h1 class="h3 mb-3 fw-normal">Bienvenido <br> Inicie sesión</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Correo Electrónico</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Iniciar Sesión</button>
    <p>¿No tienes cuenta?</p>
    <p>Crea tu cuenta nueva aqui</p>
    <p class="mt-5 mb-3 text-body-secondary">Estadia <br> Antonio Emmanuel Aguilar Vargas</p>
  </form>
</main>
{% endblock %}