/*Apartir de aqui se hace las configuraciones de la pagina de inicio de sesión o login*/
.inicio {
  background-color: #111521
}

.cssbuttons-io-button {
  background: #6a7182;
  color: #111521;
  font-family:'TodoN';
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #111521;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #111521;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

body {
  background-color: #111521;
  height: 100%;
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
/*CONFIGURACION RADIO TECNOLOGIA*/
.tabs {
  display: inline-flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 10px;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 85px;
  font-family: TodoC;
  font-size: 18px;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #185ee0;
}

.container input[id="YOLO"]:checked ~ .glider {
  transform: translateX(0);
}

.container input[id="TRANS"]:checked ~ .glider {
  transform: translateX(132%);
}

.glider {
  position: absolute;
  display: flex;
  height: 35px;
  width: 70px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
 
  .tabs {
    transform: scale(0.6);
  }
}

/****************************************FUENTES****************************************/
@font-face {
  font-family: TodoN;
  src: url('/static/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: TodoC;
  src: url('/static/fonts/Montserrat-SemiBold.ttf');
}
/****************************************ESTILOS DE SECCIONES****************************************/
b,p{
  font-family: TodoN;
  font-size: 20px;
}
.form-control, .form-floating label {
  font-family: TodoN;
  font-size: 16px; /* Tamaño de fuente */
}
a{
  z-index: 3;
}
#Pie{
  font-family: TodoN;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 15%;
  align-items: center;
  height: 21px;
}
#Cab{
  align-items: center;
  font-family: TodoC;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.TextoN{
  align-items: center;
  font-family: TodoN;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
#Tabla{
  border-collapse: collapse;
  border: 5px inset #bbbbbc;
  align-items: center;
  font-family: TodoN;
  font-size: 23px;
  color: #111521;
  width:fit-content;
  margin-left: 100px;
  margin-right: 100px;
  border-radius:22px;
}

#Tabla thead {
  font-family: TodoC;
  background-color: #bbbbbc;
}

#Tabla tbody {
  background-color: #6a7182;
}

#Tabla td {
  text-align: center;
  white-space: nowrap;
}

#Tabla th {
  text-align: center;
  white-space: normal;
}
#Tabla td, #Tabla th {
  border: 1px solid #e8eaed; /* Color de las líneas de división */
  padding: 5px; /* Espacio entre el texto y la línea de división */
  vertical-align: top; /* Alinea el texto al inicio de la celda */
  width: 1px; /* Fuerza a la celda a ajustarse al contenido */
  white-space: nowrap; /* Evita que el texto se ajuste al ancho de la celda */
}
/* Contenedor de flexbox para las acciones */
.acciones {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; /* Espacio entre los elementos */
}

/* Asegurar que los botones y radio tengan un tamaño adecuado */
.acciones a, .acciones .radio-buttons {
  display: inline-flex;
  align-items: center;
}

.radio-buttons{
  margin-top: 7%;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #e8eaed;
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1) input[type="radio"]:checked + .radio-circle::before {
  background-color: #e8eaed;
}

.radio-button:hover .radio-circle {
  border-color: #111521;
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
  background-color: #111521;
}

/**************************************FORMULARIO DATASET*******************************************/
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.parte-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-file {
  margin-bottom: 10px;
}

.contenedor-text {
  margin-bottom: 10px;
}

.contenedor-tecnologia-formato-tipo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tecnologia {
  display: flex;
  flex-direction: column;
}

.formato {
  display: flex;
  flex-direction: column;
}

.tipo {
  display: flex;
  flex-direction: column;
}

input::placeholder {
  font-family: TodoN;
  font-size: 15px;
  color: #3f4554;
}

input[type="text"] {
  font-size: 18px;
}

/****************************************ESTILOS DE PAGINAS****************************************/
#PEPE{
  background:black
}
#inicioSesion{
  background-image: url(../Pagina/Imagenes/iniciarSesion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#detectorU{
  background-image: url(../Pagina/Imagenes/detectorU.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
#detectorA{
  background-image: url(../Pagina/Imagenes/detectorU.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
#nuevoUsuario{
  background-color: #111521
}
#procesamiento{
  background-image: url(../Pagina/Imagenes/procesador.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
#procesamientoA{
  background-image: url(../Pagina/Imagenes/procesador.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
#modificarU{
  background-image: url(../Pagina/Imagenes/modificarUsuario.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
#modificarUF{
  background-image: url(../Pagina/Imagenes/modificarF.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.Form{
  border: none;
}
.Imagen{
  align-items: center;
  margin-top: 5%;

}
.Formulario{
  font-size: 18px;
  font-family: TodoN;
  border: solid 2px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
}
.Formulario:focus{
  border-color: blueviolet;
}
.selecNum{
  width: 100px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 18px;
  font-family: TodoN;
  text-align: center;
}

.contenedor-botones2 {
width: 100%;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
}
.contenedor-botones3 {
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 40px;
}
.contenedor-botones4 {
width: 100%;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 40px;
}
.dos-Columnas{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Tres-Columnas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cuatro-Columnas {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
}
.UnaTabla {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contenedor-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; 
}
/****************************************ESTILOS DE BOTONES 1****************************************/
.Botones{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
}
.Botones span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 46.5%;
}
.Botones .FlechaN{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 47.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.Botones svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.Botones:hover .FlechaN{
  left: 52.95%;
  opacity: 1;
}
.Botones:hover span{
  left: 45%;
}
.Botones:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTON ACEPTAR 2****************************************/
.BotonAceptar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonAceptar span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 19%;
}
.BotonAceptar .IAceptar{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 20%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonAceptar svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonAceptar:hover .IAceptar{
  left: 26%;
  opacity: 1;
}
.BotonAceptar:hover span{
  left: 16%;
}
.BotonAceptar:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTON CANCELAR 2****************************************/
.BotonCancelar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 40px;
  background: #6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonCancelar span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 23.5%;
}
.BotonCancelar .ICancelar{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 23.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonCancelar svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonCancelar:hover .ICancelar{
  right: 21%;
  opacity: 1;
}
.BotonCancelar:hover span{
  right: 26%;
}
.BotonCancelar:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 3****************************************/
/****************************************ESTILOS DE BOTONES 3 MODIFICAR****************************************/
.BotonMod{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonMod span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 13.5%;
}
.BotonMod .IMod{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 13.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonMod svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonMod:hover .IMod{
  left: 21%;
  opacity: 1;
}
.BotonMod:hover span{
  left: 10.8%;
}
.BotonMod:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 3 ELIMINAR****************************************/
.BotonEl{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonEl span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 48%;
}
.BotonEl .IEl{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 48.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonEl svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEl:hover .IEl{
  left: 55%;
  opacity: 1;
}
.BotonEl:hover span{
  left: 45%;
}
.BotonEl:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 3 CANCELAR****************************************/
.BotonCan{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonCan span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 12%;
}
.BotonCan .ICan{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 12%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonCan svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonCan:hover .ICan{
  right: 9%;
  opacity: 1;
}
.BotonCan:hover span{
  right: 14%;
}
.BotonCan:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4****************************************/
/****************************************ESTILOS DE BOTONES 4 INSERTAR****************************************/
.BotonIn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonIn span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 8.8%;
}
.BotonIn .IIn{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 8.8%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonIn svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonIn:hover .IIn{
  left: 15%;
  opacity: 1;
}
.BotonIn:hover span{
  left: 7%;
}
.BotonIn:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4 CANCELAR****************************************/
.BotonC{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 53%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonC span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 33.5%;
}
.BotonC .ICa{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 33.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonC svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonC:hover .ICa{
  left: 41%;
  opacity: 1;
}
.BotonC:hover span{
  left: 32.5%;
}
.BotonC:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4 MOD USUARIO****************************************/
.BotonM{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 60px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonM span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 33.7%;
}
.BotonM .IMo{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 33.7%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonM svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonM:hover .IMo{
  right: 32%;
  opacity: 1;
}
.BotonM:hover span{
  right: 35%;
}
.BotonM:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4 REG USUARIO****************************************/
.BotonReg{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 60px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonReg span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 8%;
}
.BotonReg .IReg{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 8%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonReg svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonReg:hover .IReg{
  right: 6%;
  opacity: 1;
}
.BotonReg:hover span{
  right: 9%;
}
.BotonReg:hover{
  background:rgb(108, 20, 224);
}

.navbar {
  font-family: TodoN;
  overflow: hidden;
  background-color: #3f4554;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #6a7182;
  border-radius: 10px;
}
.content {
  padding: 20px;
}
/***********************************ESTILOS DE BOTON TABLA EDITAR****************************************/
.BotonEditar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 5%;
}
.BotonEditar span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 20;
}
.BotonEditar .IEditar{
  display: flex;
  align-items: center;
  position:sticky;
  z-index: 2;
  right: 11.05%;
}
.BotonEditar svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEditar:hover{
  background:#111521;
}
/********************************ESTILOS DE BOTON TABLA ELIMINAR****************************************/
.BotonEliminar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
}
.BotonEliminar span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 23.5%;
}
.BotonEliminar .IEliminar{
  display: flex;
  align-items: center;
  position:sticky;
  z-index: 2;
  right: 11.05%;
}
.BotonEliminar svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEliminar:hover{
  background:#111521;
}
#FINAL{
  margin-top: 50px;
}