/*Apartir de aqui se hace las configuraciones de la pagina de inicio de sesión o login*/
.inicio {
  background-color: #111521
}
.centrarBoton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssbuttons-io-button {
  background: #eef3f9;
  color: #111521;
  font-family:'TodoC';
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #454446;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #111521;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #454446;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #111521;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.form-control, .form-floating label {
  font-family: TodoN;
  background-color: transparent;
  font-size: 18px;
  color: #eef3f9;
}
.form-floating label {
  font-size: 17px;
  background-color: transparent;
}
.form-control:focus {
  background-color: #3f4554;
  color: #eef3f9;
  box-shadow: 0 0 0 0.25rem rgba(38, 49, 70, 0.25);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  color: #eef3f9;
}
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
  color:#eef3f9;
}

/*******************************CONFIGURACIONES GENERALES***************************************/
body {
  background-color: #111521;
  height: 100%;
  text-align: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
/************************************CONFIGURACION RADIO TECNOLOGIA**************************************/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-radio {
  display: flex;
  flex-direction: column;
  background-color: #bbbbbc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-label {
  font-family: TODOC;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 0px;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #6a7182;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-text {
  font-size: 1rem;
  color: #3f4554;
  transition: color 0.3s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .radio-label {
  background-color: #6a7182;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
  border-color: #eef3f9;
  background-color: #6a7182;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-text {
  color: #eef3f9;
}

/*****************************CONFIGURACIÓN DE BOTON AGREGAR DATASET***************************************/
.boton-agregar{
  position: absolute;
  right: 12%;
  bottom: -50px;
}
.button {
  --main-focus: #2d8cf0;
  --font-color: #bbbbbc;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #6a7182;
  position: relative;
  width: 200px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(10px);
  color: var(--font-color);
  font-weight: 600;
  font-family: TodoN;
}

.button .button__icon {
  position: absolute;
  transform: translateX(150px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 100px;
  stroke: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 190px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
/****************************************FUENTES****************************************/
@font-face {
  font-family: TodoN;
  src: url('/static/fonts/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: TodoC;
  src: url('/static/fonts/Montserrat-SemiBold.ttf');
}
/****************************************ESTILOS DE SECCIONES****************************************/
b,p{
  font-family: TodoN;
  font-size: 20px;
  margin-bottom: 5px;
  color: #eef3f9;
}
a{
  z-index: 3;
}
#Pie{
  font-family: TodoN;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  align-items: center;
  height: 21px;
}
#Cab{
  align-items: center;
  font-family: TodoC;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.CabInicio #inicioTexto{
  align-items: center;
  font-family: TodoC;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 15px;
  display: block;
}
.TextoBienvenida{
  align-items: center;
  font-family: TodoN;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 15px;
}

#TextoN{
  align-items: center;
  font-family: TodoN;
  font-size: 25px;
  color: #eef3f9;
}

#Tabla{
  border: 2px solid #e8eaed;
  align-items: center;
  font-family: TodoN;
  font-size: 23px;
  color: #111521;
  width:fit-content;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 10px;
  width: 100%;
  border-collapse: collapse;
  background-color: #6a7182;
  overflow: hidden;
}

#Tabla thead {
  font-family: TodoC;
  background-color: #bbbbbc;
}

#Tabla tbody {
  background-color: #6a7182;
}

#Tabla td {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  
}

#Tabla th {
  text-align: center;
  white-space: normal;
  background-color: #bbbbbc;
  font-weight: bold;
}
#Tabla td, #Tabla th {
  border: 1px solid #e8eaed; 
  padding: 5px; 
  vertical-align: top; 
  width: 1px; 
  white-space: nowrap;  
}
.acciones {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
}

.acciones a, .acciones .radio-buttons {
  display: inline-flex;
  align-items: center;
}

.radio-buttons{
  margin-top: 7%;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #e8eaed;
  position: relative;
  margin-right: 10px;
}

.radio-circle::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked + .radio-circle::before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-button:nth-of-type(1) input[type="radio"]:checked + .radio-circle::before {
  background-color: #e8eaed;
}

.radio-button:hover .radio-circle {
  border-color: #111521;
}

.radio-button:hover input[type="radio"]:checked + .radio-circle::before {
  background-color: #111521;
}
/*TABLA DE NUEVO USUARIO*/
.UnaTablaUsuarioA {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  overflow-x: auto;  
}

#TablaUsuarioA {
  border: 2px solid #6a7182;
  align-items: center;
  font-family: TodoN;
  font-size: 20px;
  color: #111521;
  width: 100%;
  max-width: 90%;
  margin: 0 auto; 
  border-radius: 10px;
  table-layout: fixed;
  border-collapse: collapse;  
  overflow: hidden;
}

#TablaUsuarioA thead {
  font-family: TodoC;
  background-color: #bbbbbc;
}

#TablaUsuarioA tbody {
  background-color: #6a7182;
}

#TablaUsuarioA td, #TablaUsuarioA th {
  text-align: center;
  border: 1px solid #e8eaed; 
  padding: 10px;
  vertical-align: middle;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.accionesUsuarioA {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; 
}

.accionesUsuarioA a, .acciones .radio-buttons {
  display: inline-flex;
  align-items: center;
}
/**********BOTON EDITAR USUARIO***********/

.BotonEditarUsuarioA{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 5%;
}

.BotonEditarUsuarioA .IEditarUsuarioA{
  display: flex;
  align-items: center;
  z-index: 2;
  right: 11.05%;
}
.BotonEditarUsuarioA .svgEditarUsuarioA{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEditarUsuarioA:hover{
  background:#111521;
}
/************************ESTILO DE PANTALLA DE BIENVEDIDA***************************/
.CentrarRadar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6%;
  margin-bottom: 8%;
}
.radarInicio{
  position: relative;
  width: 150px;
  height: 150px;
  background: #212121;
  border-radius: 50%;
  box-shadow: inset 0px 0px 7px seagreen;
  border: 1px solid seagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scale: 1.5;
}

.radarInicio::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px solid seagreen;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px seagreen;
}

.radarInicio::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid seagreen;
  box-shadow: inset 0px 0px 3px seagreen;
}

.radarInicio span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  box-shadow: -25px -75px 30px -50px seagreen;
  border-top: 2px solid #2e8b57;
}

.radarInicio span::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-90deg);
  filter: blur(15px) drop-shadow(10px 0px 10px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#dot-1 {
  --dot-start-top: 100px;
  --dot-start-left: 140px;
  --dot-end-top: 130px;
  --dot-end-left: 20px;
  --delay: 0s;
}

#dot-2 {
  --dot-start-top: 100px;
  --dot-start-left: 0px;
  --dot-end-top: -3px;
  --dot-end-left: 90px;
  --delay: 0s;
}

#dot-3 {
  --dot-start-top: 100px;
  --dot-start-left: 105px;
  --dot-end-top: 18px;
  --dot-end-left: 18px;
  --delay: 0s;
}

#dot-4 {
  --dot-start-top: 110px;
  --dot-start-left: 150px;
  --dot-end-top: 140px;
  --dot-end-left: 30px;
  --delay: 0s;
}

#dot-5 {
  --dot-start-top: -5px;
  --dot-start-left: 85px;
  --dot-end-top: 125px;
  --dot-end-left: 120px;
  --delay: 4s;
}

.dot {
  width: 5px;
  height: 5px;
  position: absolute;
  top: var(--dot-start-top);
  left: var(--dot-start-left);
  border-radius: 9999px;
  background: rgba(255, 255, 255);
  box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
    0px 0px 10px 2px rgba(0, 255, 135, 0.3);
  -webkit-animation: fly 32s linear infinite;
  animation-delay: var(--delay);
  -moz-animation: fly 32s linear infinite;
}

@keyframes fly {
  0% {
    top: var(--dot-start-top);
    left: var(--dot-start-left);
  }

  100% {
    top: var(--dot-end-top);
    left: var(--dot-end-left);
  }

  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5),
      0 0 15px 2px rgba(0, 255, 135, 1);
  }

  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 10px 2px rgba(0, 255, 182, 0.5),
      0 0 5px 2px rgba(0, 255, 135, 0.3);
  }
}

/****************ESTILOS DE BOTON TABLA ELIMINAR***********/
.BotonEliminarUsuarioA{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
}

.BotonEliminarUsuarioA .IEliminarUsuarioA{
  display: flex;
  align-items: center;
  z-index: 2;
  right: 11.05%;
}

.BotonEliminarUsuarioA .svgEliminarUsuarioA{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEliminarUsuarioA:hover{
  background:#111521;
}
/**************************************FORMULARIO DATASET*******************************************/
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.parte-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-file {
  margin-bottom: 10px;
}

.contenedor-text {
  margin-bottom: 10px;
}

.contenedor-tecnologia-formato-tipo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tipo b {
  color: #ffffff;
  font-size: 16px;
}

#tipoBasura {
  width: 100%;
  padding: 10px;
  border-radius: 8px; 
  border: 1px solid #6a7182;
  background-color: #111521; 
  color: #ffffff; 
  font-size: 14px;
  font-family: TODON;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#tipoBasura:hover,
#tipoBasura:focus {
  background-color: #6a7182; 
}

#tipoBasura option {
  background-color: #111521;
  color: #ffffff;
  padding: 10px;
}


input::placeholder {
  font-family: TodoN;
  font-size: 15px;
  color: #3f4554;
}

input[type="text"] {
  font-size: 18px;
}

/****************************************CONFIGURACIÓN CHECKBOX***************************************/

.container-chbx input {
  display: flex;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
  justify-content: center;
 }
 
 .container-chbx {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
 }

 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #bbbbbc;
  border-radius: 5px;
 }
 
 .container-chbx input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(45deg, #111521 0%, #111521 100%);
 }
 
 .container-chbx input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
 }
 
 .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
 }
 
 .container-chbx input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
 }
 
 .container-chbx .checkmark:after {
  left: 0.4em;
  top: 0.14em;
  width: 0.5em;
  height: 0.8em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }
/****************************************ESTILOS DE PAGINAS****************************************/
.nombreIn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Imagen{
  align-items: center;
  margin-top: 5%;

}
.Formulario{
  font-size: 18px;
  font-family: TodoN;
  border: solid 2px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  background-color: #3f4554;
  color: #eef3f9;
}
.Formulario::placeholder{
  color: #eef3f9;
}
.Formulario:focus{
  border-color:#1c1c5a;
}
.selecNum{
  width: 100px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 18px;
  font-family: TodoN;
  text-align: center;
  background-color: #3f4554;
  color: #eef3f9;
}

.contenedor-botones2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
margin-top: 7rem;
}

.contenedor-botones3 {
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 40px;
}
.contenedor-botones4 {
width: 100%;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 40px;
}
.dos-Columnas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.5%;
}
.Tres-Columnas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1%;
}
.hiperparametros {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.UnaTabla {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.Contenedor-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; 
}
/****************************************ESTILOS DE BOTONES 1****************************************/
.Botones{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
}
.Botones span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 46.5%;
}
.Botones .FlechaN{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 47.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.Botones svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.Botones:hover .FlechaN{
  left: 52.95%;
  opacity: 1;
}
.Botones:hover span{
  left: 45%;
}
.Botones:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 3****************************************/
/****************************************ESTILOS DE BOTONES 3 MODIFICAR****************************************/
.BotonMod{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonMod span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 13.5%;
}
.BotonMod .IMod{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 13.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonMod svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonMod:hover .IMod{
  left: 21%;
  opacity: 1;
}
.BotonMod:hover span{
  left: 10.8%;
}
.BotonMod:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 3 ELIMINAR****************************************/
.BotonEl{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonEl span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 48%;
}
.BotonEl .IEl{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 48.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonEl svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEl:hover .IEl{
  left: 55%;
  opacity: 1;
}
.BotonEl:hover span{
  left: 45%;
}
.BotonEl:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 3 CANCELAR****************************************/
.BotonCan{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 30%;
}
.BotonCan span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 12%;
}
.BotonCan .ICan{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 12%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonCan svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonCan:hover .ICan{
  right: 9%;
  opacity: 1;
}
.BotonCan:hover span{
  right: 14%;
}
.BotonCan:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4****************************************/
/****************************************ESTILOS DE BOTONES 4 INSERTAR****************************************/
.BotonIn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonIn span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 8.8%;
}
.BotonIn .IIn{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 8.8%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonIn svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonIn:hover .IIn{
  left: 15%;
  opacity: 1;
}
.BotonIn:hover span{
  left: 7%;
}
.BotonIn:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4 CANCELAR****************************************/
.BotonC{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 53%;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonC span{
  transition: .5s ease-in-out all;
  position: absolute;
  left: 33.5%;
}
.BotonC .ICa{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 33.5%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonC svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonC:hover .ICa{
  left: 41%;
  opacity: 1;
}
.BotonC:hover span{
  left: 32.5%;
}
.BotonC:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4 MOD USUARIO****************************************/
.BotonM{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 60px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonM span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 33.7%;
}
.BotonM .IMo{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 33.7%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonM svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonM:hover .IMo{
  right: 32%;
  opacity: 1;
}
.BotonM:hover span{
  right: 35%;
}
.BotonM:hover{
  background:rgb(108, 20, 224);
}
/****************************************ESTILOS DE BOTONES 4 REG USUARIO****************************************/
.BotonReg{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 60px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 25%;
}
.BotonReg span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 8%;
}
.BotonReg .IReg{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 8%;
  transition: .5s ease-in-out all;
  opacity: 0;
}
.BotonReg svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonReg:hover .IReg{
  right: 6%;
  opacity: 1;
}
.BotonReg:hover span{
  right: 9%;
}
.BotonReg:hover{
  background:rgb(108, 20, 224);
}

.navbar {
  font-family: TodoN;
  overflow: hidden;
  background-color: #3f4554;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #eef3f9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #6a7182;
  border-radius: 10px;
}
.content {
  padding: 20px;
}
/***********************************ESTILOS DE BOTON TABLA EDITAR****************************************/
.BotonEditar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  margin-left: 5%;
}
.BotonEditar span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 20;
}
.BotonEditar .IEditar{
  display: flex;
  align-items: center;
  z-index: 2;
  right: 11.05%;
}
.BotonEditar svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEditar:hover{
  background:#111521;
}
/********************************ESTILOS DE BOTON TABLA ELIMINAR****************************************/
.BotonEliminar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background:#6a7182;
  color: beige;
  font-family: TodoN;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
}
.BotonEliminar span{
  transition: .5s ease-in-out all;
  position: absolute;
  right: 23.5%;
}
.BotonEliminar .IEliminar{
  display: flex;
  align-items: center;
  z-index: 2;
  right: 11.05%;
}
.BotonEliminar svg{
  color: beige;
  width: 25px;
  height: 25px;
}
.BotonEliminar:hover{
  background:#111521;
}
#FINAL{
  margin-top: 50px;
}
/**************************************REPORTES****************************************/
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  font-family: TODON;
}
.chart-container {
  background: #3f4554;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: TODON;
}
.metrics-summary {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  background: #3f4554;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-left: 20px;
  margin-right: 20px;
}
.metric-card {
  text-align: center;
  padding: 10px;
  font-family: TODON;
  color: #eef3f9;
}
.metric-value {
  font-size: 24px;
  font-weight: bold;
  color: #eef3f9;
}
.metric-label {
  color: #eef3f9;
  font-size: 14px;
}

.areaDescargar{
  margin-top: 20%;
  margin-left: 34%;
  width: 400px;
}

.buttondescargar {
  --width: 250px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 200px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #bebecc;
  --tooltip-color: #bebecc;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "TODOC";
  transition: background 0.3s;
}

.buttondescargar::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111010;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.buttondescargar::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.buttondescargar::after,.buttondescargar::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.textdescargar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapperdescargar,.textdescargar,.icondescargar {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #111521;
}

.textdescargar {
  top: 0
}

.textdescargar,.icondescargar {
  transition: top 0.5s;
}

.icondescargar {
  color: #e8eaed;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icondescargar svg {
  width: 24px;
  height: 24px;
}

.buttondescargar:hover {
  background: #6a7182;
}

.buttondescargar:hover .textdescargar {
  top: -100%;
}

.buttondescargar:hover .icondescargar {
  top: 0;
}

.buttondescargar:hover:before,.buttondescargar:hover:after {
  opacity: 1;
  visibility: visible;
}

.buttondescargar:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.buttondescargar:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/****************************CONFIGURACIÓN DE NUEVO USUARIO ADMINISTRADOR ************************/
.FormNuevoUsuarioA {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.3rem;
}

.modeNuevoUsuarioA + .containerNuevoUsuarioA {
  --color-pure: #000;
  --color-primary: #e8eaed;
  --color-secondary: #111521;
  --muted: #6a7182;
}
.modeNuevoUsuarioA:checked + .containerNuevoUsuarioA {
  --color-pure: #fff;
  --color-primary: #212121;
  --color-secondary: #bbbbbc;
  --muted: #383838;
}
.containerNuevoUsuarioA {
  background-color: var(--color-secondary);
  position: absolute;
  width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-left: 32rem;
}

.wrapNuevoUsuarioA {
  --round: 10px;
  --p-x: 8px;
  --p-y: 4px;
  --w-label: 160px;
  display: flex;
  align-items: center;
  padding: var(--p-y) var(--p-x);
  position: relative;
  background: var(--color-primary);
  border-radius: var(--round);
  max-width: 500px;
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  top: 0;
  z-index: 1;
}

.wrapNuevoUsuarioA input {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  display: none;
  visibility: hidden;
}

.labelNuevoUsuarioA {
  cursor: pointer;
  outline: none;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'TODOC';
  color: var(--color-secondary);
  background: transparent;
  padding: 12px 16px;
  width: var(--w-label);
  min-width: var(--w-label);
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  transition: color 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.labelNuevoUsuarioA span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-top: 8px;
}

.labelSeleccionador{
  align-items: center;
  font-family: TodoN;
  font-size: 25px;
  color: #e8eaed
}
.wrapNuevoUsuarioA input[class*="rd-"]:checked + .labelNuevoUsuarioA {
  color: var(--color-pure);
}

.barNuevoUsuarioA {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: var(--w-label);
  z-index: 0;
  transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
}
.barNuevoUsuarioA::before,
.barNuevoUsuarioA::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-secondary);
}
.barNuevoUsuarioA::before {
  top: 0;
  border-radius: 0 0 9999px 9999px;
}
.barNuevoUsuarioA::after {
  bottom: 0;
  border-radius: 9999px 9999px 0 0;
}

.slidebarNuevoUsuarioA {
  position: absolute;
  height: calc(100% - (var(--p-y) * 4));
  width: var(--w-label);
  border-radius: calc(var(--round) - var(--p-y));
  background: var(--muted);
  z-index: 0;
  transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
}

.rd-admin:checked ~ .barNuevoUsuarioA,
.rd-admin:checked ~ .slidebarNuevoUsuarioA,
.rd-admin + label:hover ~ .slidebarNuevoUsuarioA {
  transform: translateX(0) scaleX(1);
}
.rd-tester:checked ~ .barNuevoUsuarioA,
.rd-tester:checked ~ .slidebarNuevoUsuarioA,
.rd-tester + .labelNuevoUsuarioA:hover ~ .slidebarNuevoUsuarioA {
  transform: translateX(100%) scaleX(1);
}
/**********************************ESTILOS DE BOTONES AGREGAR Y CANCELAR ****************************/
.botonRegistrar {
  font-family: 'TODOC';
  font-size: 20px;
  background: #e8eaed;
  color: #111521;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  width: 23%;
  height: 50px;
  margin-left: 50%;
}

.botonRegistrar .spanRegistrar{
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.botonRegistrar .svgRegistrar {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.botonRegistrar:hover {
  background: #6a7182;
}

.botonRegistrar:hover .svg-wrapperRegistrar {
  transform: scale(1.25);
  transition: 0.5s linear;
}

.botonRegistrar:hover .svgRegistrar {
  transform: translateX(2.05em) scale(1.6);
  fill: #fff;
}

.botonRegistrar:hover .spanRegistrar {
  opacity: 0;
  transition: 0.5s linear;
}

.botonRegistrar:active {
  transform: scale(0.95);
}

.BotonCancelar{
  font-family: 'TODOC';
  font-size: 20px;
  background: #e8eaed;
  color: #111521;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  width: 23%;
  height: 50px;
  margin-left: 25%;
}

.BotonCancelar .spanCancelar {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.BotonCancelar  .svgCancelar {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.BotonCancelar:hover {
  background: #6a7182;
}

.BotonCancelar:hover .svg-wrapperCancelar {
  transform: scale(1.25);
  transition: 0.5s linear;
}

.BotonCancelar:hover .svgCancelar{
  transform: translateX(2.05em) scale(1.4);
  fill: #fff;
}

.BotonCancelar:hover .spanCancelar{
  opacity: 0;
  transition: 0.5s linear;
}

.BotonCancelar:active {
  transform: scale(0.95);
}
/***********************************BOTON EDITAR USUARIO TESTER**************************************/
.botonModificarT{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  }

.buttonModificarT {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #bbbbbc;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIconModificarT {
  width: 10px;
  transition-duration: .3s;
  transform: scale(2.8);
}

.svgIconModificarT path {
  fill: #111521;
}

.buttonModificarT:hover {
  width: 180px;
  height: 80px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #6a7182;
  align-items: center;
}

.buttonModificarT:hover .svgIconModificarT {
  width: 100px;
  transition-duration: .3s;
  transform: scale(5) translateY(10px);
}

.buttonModificarT::before {
  position: absolute;
  top: -19px;
  content: "Guardar";
  color: white;
  transition-duration: .3s;
  font-size: 8px;
  font-family: 'TODOC';
}

.buttonModificarT:hover::before {
  font-size: 20px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
/****************************************BOTON EXPERIMENTADOR****************************************/

.experimentador{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.buttonExperimentar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #bbbbbc;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIconExperimentar {
  width: 12px;
  transition-duration: .3s;
  transform: scale(2.8)
}

.svgIconExperimentar path {
  fill: white;
}

.buttonExperimentar:hover {
  width: 180px;
  height: 80px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #6a7182;
  align-items: center;
}

.buttonExperimentar:hover .svgIconExperimentar {
  width: 80px;
  transition-duration: .3s;
  transform: translateY(50%);
}

.buttonExperimentar::before {
  position: absolute;
  top: -19px;
  content: "Experimentar";
  color: white;
  transition-duration: .3s;
  font-size: 8px;
  font-family: 'TODOC';
}

.buttonExperimentar:hover::before {
  font-size: 20px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
/*BOTON EVALUADOR*/

.buttonEvaluar {
  width: 55px;
  height: 55px;
  border-radius: 30%;
  background-color: #bbbbbc;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.svgIconEvaluar {
  width: 40px;
  transition-duration: .3s;
}

.svgIconEvaluar .pathEvaluar {
  fill: white;
}

.buttonEvaluar:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: #6a7182;
  align-items: center;
}

.buttonEvaluar:hover .svgIconEvaluar {
  width: 80px;
  transition-duration: .3s;
  transform: translateY(50%);
}

.buttonEvaluar::before {
  position: absolute;
  top: -25px;
  content: "Evaluar";
  color: white;
  transition-duration: .3s;
  font-size: 12px;
}

.buttonEvaluar:hover::before {
  font-size: 20px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

/*************************************************RECUPERAR***********************************************/
.contenedor-botones2Rec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  width: 100%;
}

.botonRecuperar {
  font-family: 'TODOC';
  font-size: 20px;
  background: #e8eaed;
  color: #111521;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  width: 90%;
  height: 50px;
}
  
.botonRecuperar .spanRecuperar{
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.botonRecuperar .svgRecuperar {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.botonRecuperar:hover {
  background: #6a7182;
}

.botonRecuperar:hover .svg-wrapperRecuperar {
  transform: scale(1.25);
  transition: 0.5s linear;
}

.botonRecuperar:hover .svgRecuperar {
  transform: translateX(2.05em) scale(1.6);
  fill: #fff;
}

.botonRecuperar:hover .spanRecuperar {
  opacity: 0;
  transition: 0.5s linear;
}

.botonRecuperar:active {
  transform: scale(0.95);
}

.BotonCancelarRecuperar{
  font-family: 'TODOC';
  font-size: 20px;
  background: #e8eaed;
  color: #111521;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  width: 98%;
  height: 50px;
}

.BotonCancelarRecuperar .spanCancelarRecuperar {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.BotonCancelarRecuperar  .svgCancelarRecuperar {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.BotonCancelarRecuperar:hover {
  background: #6a7182;
}

.BotonCancelarRecuperar:hover .svg-wrapperCancelarRecuperar {
  transform: scale(1.25);
  transition: 0.5s linear;
}

.BotonCancelarRecuperar:hover .svgCancelarRecuperar{
  transform: translateX(2.05em) scale(1.4);
  fill: #fff;
}

.BotonCancelarRecuperar:hover .spanCancelarRecuperar{
  opacity: 0;
  transition: 0.5s linear;
}

.BotonCancelarRecuperar:active {
  transform: scale(0.95);
}

/*********************************VENTANA EMERGENTE EXPERIMENTADOR**************************************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #6a7182;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(20px);
    transition: transform 0.3s;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.loader-container {
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    transform: scale(0.55);
    transform-origin: center center;
}

.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -115px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: #e8eaed;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  color:#eef3f9;
}

.gel {
  height: 30px;
  width: 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: #6a7182;
  }

  50% {
    background: #111521;
  }

  100% {
    background: #bbbbbc;
  }
}
/*********************ANIMACION DE EVALUADOR************************/
.loader-containerEval {
  margin: 0 auto 20px;
  width: 100px;
  height: 100px;
  transform: scale(0.48);
  transform-origin: center center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cubes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateZ(-135deg);
  animation: cubes 8s cubic-bezier(0,0,1,1) infinite;
}


.cube {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation: cube 2s cubic-bezier(.64,.21,.42,.85) infinite;
}

@keyframes cube {
  0% {
    opacity: 0;
    transform: translateZ(100px);
  }

  40%, 60% {
    opacity: 1;
    transform: translateZ(10px);
  }

  100% {
    opacity: 0;
    transform: translateZ(-100px);
  }
}


/* The side */
.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

/* back */
.side:nth-child(1) {
  transform: rotateX(-180deg) translateZ(10px);
  background-color: #1e3f57;
}

/* left side */
.side:nth-child(2) {
  transform: rotateY(-90deg) translateZ(10px);
  background-color: #6bb2cd;
}

/* right side */
.side:nth-child(3) {
  transform: rotateY(90deg) translateZ(10px);
  background-color: #6bb2cd;
}

/* top side */
.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(10px);
  background-color: #3c617d;
}

/* bottom side */
.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(10px);
  background-color: #3c617d;
}

/* top */
.side:nth-child(6) {
  transform: translateZ(10px);
  background-color: #bbbbbc;
}

.cube:nth-child(8n+1) {
  left: 20px;
}

.cube:nth-child(8n+2) {
  left: 40px;
}

.cube:nth-child(8n+3) {
  left: 60px;
}

.cube:nth-child(8n+4) {
  left: 80px;
}

.cube:nth-child(8n+5) {
  left: 100px;
}

.cube:nth-child(8n+6) {
  left: 120px;
}

.cube:nth-child(8n+7) {
  left: 140px;
}

.cube:nth-child(8),
.cube:nth-child(9),
.cube:nth-child(10),
.cube:nth-child(11),
.cube:nth-child(12),
.cube:nth-child(13),
.cube:nth-child(14),
.cube:nth-child(15) {
  top: 20px;
}

.cube:nth-child(16),
.cube:nth-child(17),
.cube:nth-child(18),
.cube:nth-child(19),
.cube:nth-child(20),
.cube:nth-child(21),
.cube:nth-child(22),
.cube:nth-child(23) {
  top: 40px;
}

.cube:nth-child(24),
.cube:nth-child(25),
.cube:nth-child(26),
.cube:nth-child(27),
.cube:nth-child(28),
.cube:nth-child(29),
.cube:nth-child(30),
.cube:nth-child(31) {
  top: 60px;
}

.cube:nth-child(32),
.cube:nth-child(33),
.cube:nth-child(34),
.cube:nth-child(35),
.cube:nth-child(36),
.cube:nth-child(37),
.cube:nth-child(38),
.cube:nth-child(39) {
  top: 80px;
}

.cube:nth-child(40),
.cube:nth-child(41),
.cube:nth-child(42),
.cube:nth-child(43),
.cube:nth-child(44),
.cube:nth-child(45),
.cube:nth-child(46),
.cube:nth-child(47) {
  top: 100px;
}

.cube:nth-child(48),
.cube:nth-child(49),
.cube:nth-child(50),
.cube:nth-child(51),
.cube:nth-child(52),
.cube:nth-child(53),
.cube:nth-child(54),
.cube:nth-child(55) {
  top: 120px;
}

.cube:nth-child(56),
.cube:nth-child(57),
.cube:nth-child(58),
.cube:nth-child(59),
.cube:nth-child(60),
.cube:nth-child(61),
.cube:nth-child(62),
.cube:nth-child(63) {
  top: 140px;
}

/* keyframe delays */
.cube:nth-child(1),
.cube:nth-child(8) {
  animation-delay: 50ms;
}

.cube:nth-child(2),
.cube:nth-child(9),
.cube:nth-child(16) {
  animation-delay: 100ms;
}

.cube:nth-child(3),
.cube:nth-child(10),
.cube:nth-child(17),
.cube:nth-child(24) {
  animation-delay: 150ms;
}

.cube:nth-child(4),
.cube:nth-child(11),
.cube:nth-child(18),
.cube:nth-child(25),
.cube:nth-child(32) {
  animation-delay: 200ms;
}

.cube:nth-child(5),
.cube:nth-child(12),
.cube:nth-child(19),
.cube:nth-child(26),
.cube:nth-child(33),
.cube:nth-child(40) {
  animation-delay: 250ms;
}

.cube:nth-child(6),
.cube:nth-child(13),
.cube:nth-child(20),
.cube:nth-child(27),
.cube:nth-child(34),
.cube:nth-child(41),
.cube:nth-child(48) {
  animation-delay: 300ms;
}

.cube:nth-child(7),
.cube:nth-child(14),
.cube:nth-child(21),
.cube:nth-child(28),
.cube:nth-child(35),
.cube:nth-child(42),
.cube:nth-child(49),
.cube:nth-child(56) {
  animation-delay: 350ms;
}

.cube:nth-child(15),
.cube:nth-child(22),
.cube:nth-child(29),
.cube:nth-child(36),
.cube:nth-child(43),
.cube:nth-child(50),
.cube:nth-child(57) {
  animation-delay: 400ms;
}

.cube:nth-child(23),
.cube:nth-child(30),
.cube:nth-child(37),
.cube:nth-child(44),
.cube:nth-child(51),
.cube:nth-child(58) {
  animation-delay: 450ms;
}

.cube:nth-child(31),
.cube:nth-child(38),
.cube:nth-child(45),
.cube:nth-child(52),
.cube:nth-child(59) {
  animation-delay: 500ms;
}

.cube:nth-child(39),
.cube:nth-child(46),
.cube:nth-child(53),
.cube:nth-child(60) {
  animation-delay: 550ms;
}

.cube:nth-child(47),
.cube:nth-child(54),
.cube:nth-child(61) {
  animation-delay: 600ms;
}

.cube:nth-child(55),
.cube:nth-child(62) {
  animation-delay: 650ms;
}

.cube:nth-child(63) {
  animation-delay: 700ms;
}